.Education {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: -5;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Education .section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Education div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin: 10px;
}

.Education div:nth-child(1) h1 {
  font-size: 3rem;
  width: 25rem;
  color: var(--textCreamy) ;
}

@media screen and (max-width: 500px) {
  .Education div:nth-child(1) h1 {
    font-size: 2rem;
  }
}

.Education div:nth-child(1) p {
  color: var(--textTitle);
}

.Education div:nth-child(2) {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  cursor: pointer;
}

.Education div:nth-child(2) .Education__image {
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: auto;
}

.Education div:nth-child(2) .Education__image > * {
  width: 100%;
  height: 100%;
}

.Education div:nth-child(2) .Education__image::after {
  position: absolute;
  content: "";
  display: block;
  border: 2px solid #582E80;
  height: 100%;
  width: 100%;
  left: 1.5rem;
  top: 1.5rem;
  z-index: -1;
}

@media screen and (max-width: 548px) {
  .Education div:nth-child(1) {
    padding: 0px;
  }
  .Education div:nth-child(1) h1 {
    font-size: 3rem;
    width: 15rem;
  }
}

@media screen and (max-width: 548px) and (max-width: 500px) {
  .Education div:nth-child(1) h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 465px) {
  .Education div:nth-child(2) .Education__image {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 361px) {
  .Education div:nth-child(2) {
    margin-bottom: 20px;
  }
  .Education div:nth-child(2) .Education__image {
    width: 90%;
    height: 250px;
    margin: 0;
  }
}