.projects {
  min-height: 100vh;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  .projects {
    padding: 30px;
  }
}

.projects h1 {
  font-size: 3rem;
  color: var(--textTitle);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 500px) {
  .projects h1 {
    font-size: 2rem;
  }
}

.projects p {
  color: var(textNormal);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .container div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  margin-bottom: 40px;
  min-height: 400px;
  padding: 40px;
  -webkit-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
  position: relative;
}

.projects .container div.card h1, .projects .container div.card .card-link {
  color: white;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: 'Quattrocento Sans',sans-serif;
}

.projects .container div.card a.card-link {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.projects .container div.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: inset 20px 20px 70px rgba(0, 0, 0, 0.3), inset -20px -20px 70px rgba(0, 0, 0, 0.3);
          box-shadow: inset 20px 20px 70px rgba(0, 0, 0, 0.3), inset -20px -20px 70px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  .projects .container div.card {
    min-height: 300px;
  }
}

.projects .container div.card:nth-child(1) {
  background: #C44536;
}

.projects .container div.card:nth-child(2) {
  background: #772E25;
}

.projects .container div.card:nth-child(3) {
  background: #2e429b;
}

.projects .container div.card:nth-child(4) {
  background: #022859;
}

.projects .container div.card:nth-child(5) {
  background: #C44536;
}

.projects .container div.card:nth-child(6) {
  background: #772E25;
}

.projects .container .image-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
}

.projects .container .image-links * {
  width: 30px;
}

.projects .container .image-links a {
  cursor: pointer;
}

.projects .container .image-links a:nth-child(2) {
  margin-left: 20px;
}

.projects button {
  width: 10rem;
  text-transform: uppercase;
  border: 1px solid red;
  cursor: pointer;
  padding: 10px;
  font-size: .7rem;
  background: transparent;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  display: none;
}

.projects button::before {
  position: absolute;
  content: "";
  width: 100%;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  height: 100%;
  background: red;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.projects button:hover, .projects button:focus-within {
  color: white;
}

.projects button:hover::before, .projects button:focus-within::before {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}