.blog {
  min-height: 100vh;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .blog {
    padding: 30px;
  }
}

.blog h1 {
  font-size: 3rem;
  color: var(--textTitle);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .blog h1 {
    font-size: 2rem;
  }
}

.blog p {
  color: var(textNormal);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  min-height: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog .container div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 400px;
  flex-basis: 600px;
  margin-bottom: 40px;
  min-height: 400px;
  padding: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.blog .container div.card h1,
.blog .container div.card .card-link {
  color: white;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-family: 'Quattrocento Sans', sans-serif;
}

.blog .container div.card a.card-link {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.blog .container div.card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: inset 20px 20px 70px rgba(0, 0, 0, 0.3),
    inset -20px -20px 70px rgba(0, 0, 0, 0.3);
  box-shadow: inset 20px 20px 70px rgba(0, 0, 0, 0.3),
    inset -20px -20px 70px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  .blog .container div.card {
    min-height: 300px;
  }
}

.blog .container div.card:nth-child(1) {
  background: #ac005e;
}

.blog .container div.card:nth-child(2) {
  background: #2e429b;
}

.blog .container div.card:nth-child(3) {
  background: #2e429b;
}

.blog .container div.card:nth-child(4) {
  background: #022859;
}

.blog .container div.card:nth-child(5) {
  background: #c44536;
}

.blog .container div.card:nth-child(6) {
  background: #772e25;
}

.blog .container .image-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
}

.blog .container .image-links * {
  width: 30px;
}

.blog .container .image-links a {
  cursor: pointer;
}

.blog .container .image-links a:nth-child(2) {
  margin-left: 20px;
}
